{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/MBO.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
</head>
    <body class="container" ontouchstart="">  
        {% if user.is_authenticated %}
            <form enctype="multipart/form-data" action="{% url 'CPA' %}" method="post">
                {% csrf_token %}
                <td><a href="{% url 'sample' %}"><font size="2">back to home</font></a></td>       
                <table border="1" cellspacing="0">
                    <tr style="background-color: #F0F8FF">
                    <td style="width: 150px;"><font size="2">supplier name</font></td>
                    <td style="width: 250px;"><font size="2">participant from supplier</font></td>
                    <td style="width: 250px;"><font size="2">participant from Sumi/Summit Agro</font></td>
                    <td style="width: 100px;"><font size="2">meeting date</font></td>
                    <td style="width: 200px;"><font size="2">meeting minutes</font></td>
                    <td style="width: 100px;"><font size="2">material download</font></td>
                </tr>
                {% for item in data reversed %}
                    <tr>
                        <td style="height: 20px;"><font size="2">{{item.name}}</font></td>
                        <td><font size="2">{{item.participant1}}</font></td>
                        <td><font size="2">{{item.participant2}}</font></td>
                        <td><font size="2">{{item.date}}</font></td>
                        <td><a href="{% url 'edit2' num=item.id %}"><font size="2">click here to read the details</font></a></td>
                        {% if item.material == '' %}
                            <td></td>
                        {% else %}
                            <td><a href="{{ item.material.url }}" download="{{ item.material }}">click</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </table>
                <br>
                <font color="green" size="2">{{response}}</font>
                <font size="2">
                <br>supplier name {{form.name}} meeting date{{form.date}}
                <br>participant from supplier {{form.participant1}} participant from Sumi/Summit Agro {{form.participant2}}
                <br>meeting minutes{{form.detail}}
                <br>please upload if any meeting material (only 1 can be uploaded) {{form.material}}</font>
                <br><input type="submit" name="register" value="upload" class="button3">
            </form>
        {% else %}
            you do not have any access
        {% endif %}
    </body>
</html>