{% load static %}
<html lang="ja" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title></title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/MBO.css' %}">
</head>
    <body class="container" ontouchstart="">  
        {% if user.is_authenticated %}
            <form action="{% url 'CPA3' %}" method="post">
                {% csrf_token %}
                <br><td><a href="{% url 'sample' %}"><font size="2">back to home</font></a></td>
                <br><input type="submit" name="upload" value="recover meeting minutes">
                <br>{{data}}
                <br>{{CC}}
                {% for item in obj %}
                    <br>{{item.name}}
                    <br>{{item.participant1}}
                    <br>{{item.participant2}}
                    <br>{{item.date.year}}-{{item.date.month}}-{{item.date.day}}
                    <br>{{item.detail}}
                    {% if item.material == '' %}
                        <br>none
                    {% else %}
                        <br><a href="{{ item.material.url }}" download="{{ item.material }}">{{item.material}}</a>
                    {% endif %}
                {% endfor %}
                <br>
                {% for item in obj %}
                    {% if item.material == '' %}
                    {% else %}
                        <br><a href="{{ item.material.url }}" download="{{ item.material }}">{{item.material}}</a>
                    {% endif %}
                {% endfor %}
            </form>
        {% else %}
            you have no access
        {% endif %}
    </body>
</html>