{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/MBO.css' %}">   
</head>
<body >  
    {% if user.is_authenticated %}
        <form action="{% url 'edit2' num=EMP %}" method="post">
            {% csrf_token %}
            <br><td><a href="{% url 'CPA' %}"><font size="2">back to meeting minutes list</font></a></td>       
            <font size="2">
                <br>supplier name : {{obj.name}}
                <br>meeting date : {{obj.date}}
                <br>participant from supplier : {{obj.participant1}}
                <br>participant from Summit/Sumi Agro : {{obj.participant2}}
                <br><br><u>meeting minutes</u>
                <br><div class="MMpop">{{obj.detail}}</div>
                </font>
        </form> 
    {% else %}
    アクセスをお持ちでありません
    {% endif %}
</body>
</html>