{% load static %}
<html lang="ja" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/MBO.css' %}">
</head>
    <body class="container" ontouchstart="">
        {% if user.is_authenticated %}
            <form action="{% url 'editCPA' %}" method="post">
                {% csrf_token %}
                <br><td><a href="{% url 'sample' %}"><font size="2">back to home</font></a></td>
                <br><input type="submit" name="upload" value="recover contracts">
                {% for item in obj1 %}
                    <br>{{item.upload}}
                {% endfor %}
                {% for item in AA %}
                    <br>{{item}}
                {% endfor %}
                {% for item in obj2 %}
                    <br>{{item.material}}
                {% endfor %}
                {% for item in BB %}
                    <br>{{item}}
                {% endfor %}
            </form>   
        {% else %}
            you have no access
        {% endif %}
    </body>
</html>