{% load static %}
<html lang="ja" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title></title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/MBO.css' %}">
</head>
    <body class="container" ontouchstart="">
        {% if user.is_authenticated %}
            <form action="{% url 'editCPA2' name=EMP %}" method="post">
                <p class="middle"><font color="blue">{{FN}}{{LN}}</font>さんのコンピテンシー評価（評定者<font color="blue">{{FN2}}{{LN2}}</font>さん）：評定者評価を入力し保存して下さい</p>
                {% csrf_token %}
                <table border="1" cellspacing="0">
                    <tr style="background-color: #F0F8FF">
                        <td class="cpab"><font size="3">コンピテンシー</font></td>
                        <td class="cpa"><font size="3">コンピテンシー詳細</font></td>
                        <td class="cpaa"><div class="tooltip3"><font size="3">本人評価</font><div class="description3">3.このような行動はよく見られる<br>2.このような行動が見られることがある<br>1.このような行動はほとんど見られない</div></div></td>
                        <td class="cpaa"><div class="tooltip3"><font size="3">評定者評価</font><div class="description3">3.このような行動はよく見られる<br>2.このような行動が見られることがある<br>1.このような行動はほとんど見られない</div></div></td>
                        <td class="cpa"><font size="3">考察</font></td>
                        <td class="cpa"><font size="3">向上プラン</font></td>
                    </tr>
                    <tr>
                        <tr><td rowspan="3"><font size="1">{{B1}}</font></td>
                            <td><font size="1">{{B2}}</td>
                            <td><font size="1">{{data1.0}}</font></td>
                            <td style="height: 45px;"><font size="1">{{data2.CPA22A1A}}</font></td>
                            <td><font size="1">{{data3.0}}</font></td>
                            <td><font size="1">{{data4.0}}</font></td></tr>
                        </tr>
                        <tr><td><font size="1">{{B3}}</td>
                            <td style="height: 45px;"><font size="1">{{data1.1}}</font></td>
                            <td><font size="1">{{data2.CPA22A2A}}</font></td>
                            <td><font size="1">{{data3.1}}</font></td>
                            <td><font size="1">{{data4.1}}</font></td></tr>
                        </tr>
                        <tr><td><font size="1">{{B4}}</td>
                            <td style="height: 45px;"><font size="1">{{data1.2}}</font></td>
                            <td><font size="1">{{data2.CPA22A3A}}</font></td>
                            <td><font size="1">{{data3.2}}</font></td>
                            <td><font size="1">{{data4.2}}</font></td></tr>
                        </tr>
                    </tr>
                    <tr>
                        <tr><td rowspan="3"><font size="1">{{B5}}</font></td>
                            <td><font size="1">{{B6}}</td>
                            <td style="height: 45px;"><font size="1">{{data1.3}}</font></td>
                            <td><font size="1">{{data2.CPA22B1A}}</font></td>
                            <td><font size="1">{{data3.3}}</font></td>
                            <td><font size="1">{{data4.3}}</font></td></tr>
                        </tr>
                        <tr><td><font size="1">{{B7}}</td>
                            <td style="height: 45px;"><font size="1">{{data1.4}}</font></td>
                            <td><font size="1">{{data2.CPA22B2A}}</font></td>
                            <td><font size="1">{{data3.4}}</font></td>
                            <td><font size="1">{{data4.4}}</font></td></tr>
                        </tr>
                        <tr><td><font size="1">{{B8}}</td>
                            <td style="height: 45px;"><font size="1">{{data1.5}}</font></td>
                            <td><font size="1">{{data2.CPA22B3A}}</font></td>
                            <td><font size="1">{{data3.5}}</font></td>
                            <td><font size="1">{{data4.5}}</font></td></tr>
                        </tr>
                    </tr>
                    <tr>
                        <tr><td rowspan="3"><font size="1">{{B9}}</font></td>
                            <td><font size="1">{{B10}}</td>
                            <td style="height: 45px;"><font size="1">{{data1.6}}</font></td>
                            <td><font size="1">{{data2.CPA22C1A}}</font></td>
                            <td><font size="1">{{data3.6}}</font></td>
                            <td><font size="1">{{data4.6}}</font></td></tr>
                        </tr>
                        <tr><td><font size="1">{{B11}}</td>
                            <td style="height: 45px;"><font size="1">{{data1.7}}</font></td>
                            <td><font size="1">{{data2.CPA22C2A}}</font></td>
                            <td><font size="1">{{data3.7}}</font></td>
                            <td><font size="1">{{data4.7}}</font></td></tr>
                        </tr>
                        <tr><td><font size="1">{{B12}}</td>
                            <td style="height: 45px;"><font size="1">{{data1.8}}</font></td>
                            <td><font size="1">{{data2.CPA22C3A}}</font></td>
                            <td><font size="1">{{data3.8}}</font></td>
                            <td><font size="1">{{data4.8}}</font></td></tr>
                        </tr>
                    </tr>
                    <tr>
                        <tr><td rowspan="3"><font size="1">{{B13}}</font></td>
                            <td><font size="1">{{B14}}</td>
                            <td style="height: 45px;"><font size="1">{{data1.9}}</font></td>
                            <td><font size="1">{{data2.CPA22D1A}}</font></td>
                            <td><font size="1">{{data3.9}}</font></td>
                            <td><font size="1">{{data4.9}}</font></td></tr>
                        </tr>
                        <tr><td><font size="1">{{B15}}</td>
                            <td style="height: 45px;"><font size="1">{{data1.10}}</font></td>
                            <td><font size="1">{{data2.CPA22D2A}}</font></td>
                            <td><font size="1">{{data3.10}}</font></td>
                            <td><font size="1">{{data4.10}}</font></td></tr>
                        </tr>
                        <tr><td><font size="1">{{B16}}</td>
                            <td style="height: 45px;"><font size="1">{{data1.11}}</font></td>
                            <td><font size="1">{{data2.CPA22D3A}}</font></td>
                            <td><font size="1">{{data3.11}}</font></td>
                            <td><font size="1">{{data4.11}}</font></td></tr>
                        </tr>
                    </tr>
                    <tr>
                        <tr><td rowspan="3"><font size="1">{{B17}}</font></td>
                            <td><font size="1">{{B18}}</td>
                            <td style="height: 45px;"><font size="1">{{data1.12}}</font></td>
                            <td><font size="1">{{data2.CPA22E1A}}</font></td>
                            <td><font size="1">{{data3.12}}</font></td>
                            <td><font size="1">{{data4.12}}</font></td></tr>
                        </tr>
                        <tr><td><font size="1">{{B19}}</td>
                            <td style="height: 45px;"><font size="1">{{data1.13}}</font></td>
                            <td><font size="1">{{data2.CPA22E2A}}</font></td>
                            <td><font size="1">{{data3.13}}</font></td>
                            <td><font size="1">{{data4.13}}</font></td></tr>
                        </tr>
                        <tr><td><font size="1">{{B20}}</td>
                            <td style="height: 45px;"><font size="1">{{data1.14}}</font></td>
                            <td><font size="1">{{data2.CPA22E3A}}</font></td>
                            <td><font size="1">{{data3.14}}</font></td>
                            <td><font size="1">{{data4.14}}</font></td></tr>
                        </tr>
                    </tr>
                </table>
                <br><tr><th><td>
                    <input type="submit" value="保存/戻る" class="button">
                </td></th></tr>   
            </form>   
        {% else %}
        アクセスをお持ちでありません
        {% endif %}
    </body>
</html>