{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/MBO.css' %}">   
</head>
<body class="container" ontouchstart="">  
    {% if user.is_authenticated %}
        <form action="{% url 'edit2' name=EMP %}" method="post">
            <p class="middle"><font color="blue">{{FN}}{{LN}}</font>さんの目標設定・レビュー</p>
            {% csrf_token %}
            <table border="1" cellspacing="0">
                <tr style="background-color: #F0F8FF;">
                    <td class="goal"><font size="2">期初目標設定</font></td>
                    <td class="goala"><font size="2">ウェイト%</font></td>
                    <td class="goal"><font size="2">期中レビュー</font></td>
                    <td class="goal"><font size="2">期末レビュー</font></td>
                    <td class="goala"><font size="2">評価点数</font></td>
                    <td class="goal"><font size="2">評定者コメント</font></td>
            </tr>
                <tr class="edit">
                    <td><font size="2"><div class="pc">{{data2.0}}</div><div class="tooltip2">詳細<div class="description2">{{data2.0}}</font></div></div></td>
                    <td><font size="2">{{data3.0}}</font></td>
                    <td><font size="2"><div class="pc">{{data4.0}}</div><div class="tooltip2">詳細<div class="description2">{{data4.0}}</font></div></div></td>
                    <td><font size="2"><div class="pc">{{data5.0}}</div><div class="tooltip2">詳細<div class="description2">{{data5.0}}</font></div></div></td>
                    <td><font size="2">{{data1.GOAL22AR}}</font></td>
                    <td><font size="2">{{data1.GOAL22AJ}}</font></td>
                </tr>
                <tr class="edit">
                    <td><font size="2"><div class="pc">{{data2.1}}</div><div class="tooltip2">詳細<div class="description2">{{data2.1}}</font></div></div></td>
                    <td><font size="2">{{data3.1}}</font></td>
                    <td><font size="2"><div class="pc">{{data4.1}}</div><div class="tooltip2">詳細<div class="description2">{{data4.1}}</font></div></div></td>
                    <td><font size="2"><div class="pc">{{data5.1}}</div><div class="tooltip2">詳細<div class="description2">{{data5.1}}</font></div></div></td>
                    <td><font size="2">{{data1.GOAL22BR}}</font></td>
                    <td><font size="2">{{data1.GOAL22BJ}}</font></td>
                </tr>                    
                <tr class="edit">
                    <td><font size="2"><div class="pc">{{data2.2}}</div><div class="tooltip2">詳細<div class="description2">{{data2.2}}</font></div></div></td>
                    <td><font size="2">{{data3.2}}</font></td>
                    <td><font size="2"><div class="pc">{{data4.2}}</div><div class="tooltip2">詳細<div class="description2">{{data4.2}}</font></div></div></td>
                    <td><font size="2"><div class="pc">{{data5.2}}</div><div class="tooltip2">詳細<div class="description2">{{data5.2}}</font></div></div></td>
                    <td><font size="2">{{data1.GOAL22CR}}</font></td>
                    <td><font size="2">{{data1.GOAL22CJ}}</font></td>
                </tr>                    
                <tr class="edit">
                    <td><font size="2"><div class="pc">{{data2.3}}</div><div class="tooltip2">詳細<div class="description2">{{data2.3}}</font></div></div></td>
                    <td><font size="2">{{data3.3}}</font></td>
                    <td><font size="2"><div class="pc">{{data4.3}}</div><div class="tooltip2">詳細<div class="description2">{{data4.3}}</font></div></div></td>
                    <td><font size="2"><div class="pc">{{data5.3}}</div><div class="tooltip2">詳細<div class="description2">{{data5.3}}</font></div></div></td>
                    <td><font size="2">{{data1.GOAL22DR}}</font></td>
                    <td><font size="2">{{data1.GOAL22DJ}}</font></td>
                </tr>                    
                <tr class="edit">
                    <td><font size="2"><div class="pc">{{data2.4}}</div><div class="tooltip2">詳細<div class="description2">{{data2.4}}</font></div></div></td>
                    <td><font size="2">{{data3.4}}</font></td>
                    <td><font size="2"><div class="pc">{{data4.4}}</div><div class="tooltip2">詳細<div class="description2">{{data4.4}}</font></div></div></td>
                    <td><font size="2"><div class="pc">{{data5.4}}</div><div class="tooltip2">詳細<div class="description2">{{data5.4}}</font></div></div></td>
                    <td><font size="2">{{data1.GOAL22ER}}</font></td>
                    <td><font size="2">{{data1.GOAL22EJ}}</font></td>
                </tr>                    
                <tr class="edit">
                    <td><font size="2"><div class="pc">{{data2.5}}</div><div class="tooltip2">詳細<div class="description2">{{data2.5}}</font></div></div></td>
                    <td><font size="2">{{data3.5}}</font></td>
                    <td><font size="2"><div class="pc">{{data4.5}}</div><div class="tooltip2">詳細<div class="description2">{{data4.5}}</font></div></div></td>
                    <td><font size="2"><div class="pc">{{data5.5}}</div><div class="tooltip2">詳細<div class="description2">{{data5.5}}</font></div></div></td>
                    <td><font size="2">{{data1.GOAL22FR}}</font></td>
                    <td><font size="2">{{data1.GOAL22FJ}}</font></td>
                </tr>                    
                <tr class="edit">
                    <td><font size="2"><div class="pc">{{data2.6}}</div><div class="tooltip2">詳細<div class="description2">{{data2.6}}</font></div></div></td>
                    <td><font size="2">{{data3.6}}</font></td>
                    <td><font size="2"><div class="pc">{{data4.6}}</div><div class="tooltip2">詳細<div class="description2">{{data4.6}}</font></div></div></td>
                    <td><font size="2"><div class="pc">{{data5.6}}</div><div class="tooltip2">詳細<div class="description2">{{data5.6}}</font></div></div></td>
                    <td><font size="2">{{data1.GOAL22GR}}</font></td>
                    <td><font size="2">{{data1.GOAL22GJ}}</font></td>
                </tr>                    
            </table>
            <br><tr><th><td>
                <input type="submit" value="保存/戻る" class="button">
            </td></th></tr>   
        </form>
    
    {% else %}
    アクセスをお持ちでありません
    {% endif %}
</body>
</html>