{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/MBO.css' %}">
</head>
    <body class="container">  
        {% if user.is_authenticated %}
            <form action="{% url 'GOAL4' %}" method="post">
                {% csrf_token %}
                <br><td><a href="{% url 'sample' %}"><font size="2">back to home</font></a></td>
                <br><input type="submit" name="upload" value="recover contracts">
                <br>{{data}}
                <br>{{CC}}
                {% for item in obj %}
                    <br>{{item.name}}
                    <br>{{item.ctype}}
                    <br>{{item.date1.year}}-{{item.date1.month}}-{{item.date1.day}}
                    <br>{{item.date2.year}}-{{item.date2.month}}-{{item.date2.day}}
                    <br><a href="{{ item.upload.url }}" download="{{ item.upload }}">{{item.upload}}</a></td>
                {% endfor %}
                {% for item in obj %}
                    <br><a href="{{ item.upload.url }}" download="{{ item.upload }}">{{item.upload}}</a></td>
                {% endfor %}
                </form>
        {% else %}
            you have no access
        {% endif %}
    </body>
</html>