{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/MBO.css' %}">
</head>
    <body class="container">  
        {% if user.is_authenticated %}
            <form enctype="multipart/form-data" action="{% url 'GOAL' %}" method="post">
                {% csrf_token %}
                    <font color="green">{{response}}</font><br>
                    supplier name {{form.name}} please choose contract type {{form.ctype}}
                    <br>starting date{{form.date1}} termination date{{form.date2}}
                    <br>please upload the file{{form.upload}}
                    <input type="submit" name="register" value="upload" class="button3">
                    <br><br>
                    <table border="1" cellspacing="0">
                        <tr style="background-color: #F0F8FF">
                        <td style="width: 250px;"><font size="2">supplier</font></td>
                        <td style="width: 300px;"><font size="2">type of contract</font></td>
                        <td style="width: 100px;"><font size="2">starting date</font></td>
                        <td style="width: 100px;"><font size="2">date of end</font></td>
                        <td style="width: 100px;"><font size="2">download</font></td>
                    </tr>
                    {% for item in data reversed %}
                        <tr>
                            <td style="height: 20px;"><font size="2">{{item.name}}</font></td>
                            <td><font size="2">{{item.ctype}}</font></td>
                            <td><font size="2">{{item.date1}}</font></td>
                            <td><font size="2">{{item.date2}}</font></td>
                            <td><a href="{{ item.upload.url }}" download="{{ item.upload }}">click</a></td>
                        </tr>
                    {% endfor %}
                </table>
                <br><td><a href="{% url 'sample' %}"><font size="2">back to home</font></a></td>       
            </form>
        {% else %}
            you do not have any access
        {% endif %}
    </body>
</html>