{% load static %}
<html lang="ja" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title></title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/MBO.css' %}">
</head>
    <body class="container">  
        {% if user.is_authenticated %}
            <form action="{% url 'GOAL3' %}" method="post">
                {% csrf_token %}
                <font color="green">{{text}}</font>
                {% for item in object_list %}
                    <br>{{item.name}}&nbsp;&nbsp;&nbsp;
                    <input type="submit" name="{{item.id}}" value="delete">
                    {% endfor %}
                <br><td><a href="{% url 'sample' %}"><font size="2">back to home</font></a></td>       
            </form>
        {% else %}
            you have no access
        {% endif %}
    </body>
</html>