{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page"></a>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/MBO.css' %}">
        <title>sumiagro</title>
        <img src="/static/sumiagro.jpg">
    </head>
    <body> 
        <div class="content4">
            Sumi/Summit Agro GBD database<br><br>
            please input ID and password</div><br>
            <div class="reg">
                    <form method="post" action="{% url 'home' %}">
                  {% csrf_token %}
      
                    <table class="reg_form">
                        <tr>
                            <td><label for="userid"><font size="2">ID:</font></label></td>
                            <td><input type="text" name="userid" size="20"></td>
                        </tr>
                        <tr>
                            <td><label for="password"><font size="2">password</font></label></td>
                            <td><input type="password" name="password" size="20"></td>
                        </tr>
                    </table>
                    <br><input type="submit" class="button5" value="login" style = "font-size:15px;">
                <br><br><br>
                    </form>
            </div>
    </body>

</html>
