{% load static %}
<html lang="ja" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/MBO.css' %}">
</head>
    <body class="container">  
        {% if user.is_authenticated %}
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <u>current registered users</u>
                {% for item in object_list %}
                <br>{{item.username}}
                {% endfor %}
                <br><br>
                <font color="green">{{text}}</font>
                <br>
                <br>please input e-mail address of the new person
                <br>{{form.username}}
                <br>
                <br>please input his password 
                <br>{{form.password1}}
                <br>once more please input the password for confirmation
                <br>{{form.password2}}
                <br>
                <input type="submit" name="DL" value="register" class="button3">
                <br><td><a href="{% url 'sample' %}"><font size="2">back to home</font></a></td>       
            </form>
        {% else %}
            you have no access
        {% endif %}
    </body>
</html>