{% load static %}
<html lang="ja" dir="ltr">
<head>
   <meta charset="utf-8">
   <title></title>
   <link rel="stylesheet" href="{% static 'css/MBO.css' %}">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <img src="/static/sumiagro.jpg">
</head>
{% if user.is_authenticated %}
   <body>
      <form action="{% url 'sample' %}" method="post">
      {% csrf_token %}
      <div class="content">
         <a href="{% url 'GOAL'%}">contract</a><br><br>
         <a href="{% url 'CPA'%}">meeting minutes</a>
      </div>
      </form>
   </body>
{% else %}
   you do not have access
{% endif %}
</html>