{% load static %}
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/MBO.css' %}">
</head>
    <body class="container">  
        {% if user.is_authenticated %}
            <form action="{% url 'test' %}" method="post">
                {% csrf_token %}
                <font color="green">{{text}}</font>
                <br>{{AA1}}
                <br>{{AA2}}
                <br>{{AA3}}
                <br><input type="submit" name="upload" value="recover users">
                <br><td><a href="{% url 'sample' %}"><font size="2">back to home</font></a></td>       
                {% for item in object_list %}
                    <br>{{item.username}}
                    <br>{{item.first_name}}
                {% endfor %}
            </form>
        {% else %}
            you have no access
        {% endif %}
    </body>
</html>