.logo {
    position : absolute;
    height : 50px;
    width : 50px;
    margin-left: 40px;
    top : 2%;
}

.form-control {
    width: 200px;
    height: 80px;

}
.button6 {
    font-size: 10pt;
    position : absolute;
    right: 120pt;
}

.button {
    font-size: 10pt;
    position : absolute;
    right: 120pt;
}

.button2 {
    background-color: #007FFF;
    margin-left: 350px;
    border-radius: 5px;
    width: 100px;
    height: 20px;
}

.button3 {
    font-size: 10pt;
    position : absolute;
    right: 250pt;
}

.button4 {
    font-size: 10pt;
    position : absolute;
    right: 180pt;
}

.button5 {
    font-size: 10pt;
    position : absolute;
}

.box {
    padding: 10px;
    border: double; 5px; solid #333;
    background : #F0F8FF;
    width: 80px;
    height: 20px;
    display: grid;
    place-items:center;
    margin-right:20px; 
}

.box2 {
    padding: 10px;
    width: 80px;
    height: 20px;
    display: grid;
    place-items:center;
    margin-right:10px; 
}

.box3 {
    margin-left: 350px;
    margin-top: 7px;
    position : absolute;
}

.box4 {
    margin-left: 200px;
    margin-top: 7px;
    position : absolute;
}


.first {
    margin-top: 0;
    margin-left: 54px;
    padding: 20px 20px 20px 40px;
    height: 50px;
    font-size: 20px;
}
.footer {
    display: inline-block;
    position : absolute;
    background-color: #000000;
    height : 50px;
    bottom : 0;
    width : 100%;
}

.footer h1, .footer h1 a, .footer h1 a:visited, .footer h1 a:active {
    color: #ffffff;
    font-size: 10pt;
    text-decoration: none;
}




.sample {
    position : relative;
    top: 30%;
    margin-top: 30px;
    margin-left: 540px;
    text-align: left;
    width: 700px;
    height: 437px;
}

.sample2 {
    margin-left: 250px;
    margin-top: 350px;
    position : absolute;
    text-align: left;
    width: 250px;
    height: 250px;
}


.page-header {
    background-color: #007FFF;
    margin-top: 0;
    margin-left: 120px;
    padding: 20px 20px 20px 40px;
    height: 150px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 28pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.content3 {
    position: absolute;
    top: 70px;
    margin-left: 40px;
    font-size: 20px;
    width: 450px;
    word-wrap: break-word;
}

.content2 {
    position: absolute;
    top: 150;
    margin-left: 40px;
    width: 500px;
    word-wrap: break-word;
}

.content4 {
            word-wrap: break-word;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.textarea {
    resize:none;
    width:10000px;
    height:100px;
}

.tooltip1{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.tooltip1 p{
    margin:0;
    padding:0;
}
.description1 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
}
.description1:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
}
.tooltip1:hover .description1{
    display: inline-block;
    top: -70px;
    left: -30px;
}

.tooltip3{
    color: #0007FF;
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
}
.tooltip3 p{
    margin:0;
    padding:0;
}
.description3 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 20px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
}
.description3:before {
    content: "";
    position: absolute;
    top: 0%;
    right: 95%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
    transform: rotateZ(90deg);
}
.tooltip3:hover .description3{
    display: inline-block;
    top: 0px;
    left: 40px;
}

.tooltip2{
    color: #0007FF;
    position: relative;
    cursor: pointer;
    display: none;
    font-size: 15px;
}
.tooltip2 p{
    margin:0;
    padding:0;
}
.description2:before {
    content: "";
    position: absolute;
    top: 0%;
    right: 95%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
    transform: rotateZ(0deg);
}
.tooltip2:hover .description2{
    display: none;
    top: 0px;
    left: 40px;
}
.goal {
    width: 240px;
}
.goala {
    width: 70px;
}
.formobile {
    display: none;
}

.pc {
    display: block;
}
.sp {
    display: none;
}
.cpa {
    width: 250px;
}
.cpac {
    width: 300px;
}
.cpaa{
    width: 70px;
}
.cpab{
    width: 70px;
}
.AE1 {
    width: 100px;
}
.AE2 {
    width: 700px;
}

.AE3 {
    width: 70px;
}
.AE4 {
    width: 140px;
}


@media only screen and (max-width: 480px){
    .box {
        padding: 10px;
        border: double; 5px; solid #333;
        background : #F0F8FF;
        width: 50px;
        height: 10px;
        display: grid;
        place-items:center;
        margin-right:20px;
        font-size: 10px;
    }   
    .box4 {
        font-size: 10px;
    }
    .box2 {
        font-size: 10px;
    }    
    .logo {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        top : 20px;
    }
    .first {
        font-size: 10px;
        margin-left: 10px;
        top : 5px;
    }
    .sample{
        display: none;
        position: absolute;
        margin-left: 10px;
        top: 40%;
        text-align: left;
        width: 90%;
        aspect-ratio: 16/9;
        object-fit: scale-down;
    }
    .content2{
        width: 90%;
        font-size: 10px;
        margin-top: 10px;
        margin-left: 10px;
        top: 80;
        position: absolute;
        word-wrap: break-word;
    }
    .content3{
        margin-top: 10px;
        margin-left: 10px;
        top: 30px;
        font-size: 10px;
        position: absolute;
        width: 90%;
    }
    .button5{
        font-size: 40pt;
        width: 100px;
        height: 30px;
    }
    .button6{
        font-size: 10pt;
    }
    .content4 {
        font-size: 10px;
        word-wrap: break-word;
    }
    .content5 {
        font-size: 10px;
        word-wrap: break-word;
    }
    .content6 {
        font-size: 10px;
        word-wrap: break-word;
    }
    .tbl-r03 {
        width: 90%;
    }
    .tbl-r03 td {
        float: left;
    }

    .reverse {
        display: block;
    }
    .goal {
        width:23%;
        font-size: 10px;
    }
    .goala {
        width: 2%;
        font-size: 10px;
    }

    .button {
        right: 10pt;
    }   
    .button3 {
        right: 100pt;
    }
    .formobile {
        display: block;
    }   
    .pc {
        display: none;
    }
    .tooltip2 {
        display: inline-block;
        color: #0007FF;
        position: relative;
        cursor: pointer;
    }
    .description2 {
        display: none;
        position: absolute;
        padding: 10px;
        font-size: 20px;
        line-height: 1.6em;
        color: #fff;
        border-radius: 5px;
        background: #000;
        width: 150px;
        z-index: 3;
    }
    .tooltip2 p{
        margin:0;
        padding:0;
    }
    .description2:before {
        content: "";
        position: absolute;
        top: 0%;
        right: 95%;
        border: 15px solid transparent;
        border-top: 15px solid #000;
        margin-left: -15px;
        transform: rotateZ(90deg);
    }
    .tooltip2:hover .description2{
        display: inline-block;
        top: 0px;
        left: 40px;
    }
    .cpa {
        width: 30%;
    }
    .cpaa {
        width: 2%;
    }
    .cpab {
        width: 5%;
    }
    .cpac {
        width: 5%;
    }
    .AE1 {
        width: 9%;
    }
    .AE2 {
        width: 64%px;
    }    
    .AE3 {
        width: 7%;
    }
    .AE4 {
        width: 14%;
    }
    
}